@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';


.scrollbar-hide::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* For IE and Edge */
    scrollbar-width: none; /* For Firefox */
  }

  .hide-vertical-scroll {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: auto;   /* Enable horizontal scrolling */
  }

